[Unit]
Description=NGFW daemon
After=network.target backend.service
Wants=backend.service

[Service]
WorkingDirectory=/resources/ngfw
ExecStartPre=/bin/mkdir -p /resources/ngfw/sockets
ExecStart=/resources/ngfw/ngfw
Restart=on-failure
RestartSec=5
StandardOutput=journal
Type=simple
StandardError=journal
User=root
AmbientCapabilities=CAP_NET_RAW
Environment="CAPTURE_INTERFACES=eth1,eth2"
Environment="CONTROL_PLANE_GRPC_SOCKET_PATH=/resources/ngfw/sockets/control-plane.sock"
Environment="DUMMY_NAT_ENABLED=true"
Environment="DUMMY_NAT_ALLOW_ALL=true"

[Install]
WantedBy=multi-user.target
